*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
// }


$fonts:(
    inter: 'Inter',
    poppins: 'Poppins'
);

$font-weights:(
    "light": 300,
    "regular": 400,
    "bold": 500,
    "exception": 600,
    "bolder": 700
);

@mixin screen-4k{
    @media screen and(max-width: 2560px){
        @content;
    }
}

@mixin Nest-hub{
    @media screen and (max-width: 1280px){
        @content;
    }
}

@mixin laptop{
    @media screen and (max-width: 1024px){
        @content;
    }
}

@mixin surface-iAir{
    @media screen and (min-width: 820px) and (max-width: 912px){
        @content;
    }
}

@mixin tablet{
    @media screen and (max-width: 768px){
        @content;
    }
}


@mixin Duo{
    @media screen and (width: 540px){
        @content;
    }
}

@mixin mobile-l{
    @media screen and (max-width: 425px){
        @content;
    }
}

@mixin mobile-m{
    @media screen and (max-width: 375px){
        @content;
    }
}

@mixin mobile-s{
    @media screen and (max-width: 320px){
        @content;
    }
}


@mixin Galaxy-fold{
    @media screen and (max-width: 280px){
        @content;
    }
}






$primary-color: #30BF91;

$secodary-color: #19B885;

$text-color-white: white;

$rare-color: #33393F;



@function set-font-family($font-name){
    @return map-get($fonts, $font-name)
    
}

@function set-font-weight($font-weight){
    @return map-get($font-weights, $font-weight);
}

ul li{
    list-style: none;
    font-family: map-get($fonts, inter), sans-serif;
}

.container{
    padding: 0 83px;
}

.burger{
    display: none;
}
