.footer__page{

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    &.container{
        padding-top: 260px;
        padding-bottom: 120px ;
    }

    &__lists{
        &--nested{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 32px;
        }

        p{
            font-weight: set-font-weight(bold);
            margin-bottom: 30px;
        }

        a{
            color: rgba(13, 27, 30, 0.5);
        }

        li{
            
            margin-bottom: 15px;
        }
    }

    &--logo{
        grid-column: -2;
    }
}